:root {

    --fc-event-text-color: #ffffff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(255, 0, 0, 0.3);



    /* --fc-event-bg-color: white;
    --fc-event-border-color:black;
     */

    --fc-page-bg-color: #fff;
    --fc-border-color: rgb(128, 5, 5);
    --fc-today-bg-color: rgba(255, 0, 0, 0.7);
    /* --fc-button-text-color: #fff; */
    --fc-button-bg-color: rgb(128, 5, 5);
    --fc-button-border-color: rgb(128, 5, 5);
    --fc-button-hover-bg-color: rgb(55, 30, 30);
    --fc-button-hover-border-color: rgb(47, 26, 26);
    --fc-button-active-bg-color: rgb(47, 26, 26);
    --fc-button-active-border-color: rgb(39, 21, 21);

    --fc-list-event-hover-bg-color: rgb(128, 5, 5);
    --fc-neutral-bg-color: #000;
}

.fc-list-day-cushion {
    text-transform: capitalize;

}

.fc-list-empty {
    background-color: rgba(88, 88, 88, 0.5);
}

.fc-list-event {
    background-color: white;
    color: black;
}

.fc-list-event:hover {
    color: white;
}

.fc-daygrid-event-harness:hover {
    cursor: pointer;
}

.fc-scrollgrid-sync-inner:hover {
    background-color: rgb(55, 30, 30);
}

.fc-theme-standard {
    padding: 1rem 0 3rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 95%;
    margin: 0 auto 2rem;
}

.fc-header-toolbar,
.fc-footer-toolbar {
    width: 90%;
    margin: auto;
    text-transform: capitalize;
}

.fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}








/*Personal Styles*/
.indicator {
    background-color: pink;
    color: red;
}

.fc-view {
    width: 95%;
    margin: auto;
    /* background-color: black */
}

.fc-col-header-cell {
    color: white;
    text-transform: capitalize;
    background-color: rgba(255, 0, 0, 0.6);
}

.google-events {}

.personal-events {}

/* NOTA: PUEDO CAMBIARLE EL ESTILO A TODOS CON dc-day-(mon-sun-etc) */

.day_empty {}

.fc-day-other {
    background-color: rgba(88, 88, 88, 0.7);
}

.fc-daygrid-day-number {
    font-weight: 500;
}

.event-contain {}

.event-text-contain {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.event-text-time {}

.event-text-title {
    text-wrap: wrap;
    /* overflow: hidden; */
}



@media (max-width: 780px) {
    .event-text-time {
        display: none;
    }

    .event-text-title {
        text-wrap: nowrap;
        overflow: hidden;
    }
}

/* fc-daygrid-day-bg - fc-daygrid-day-events */
@media (max-width: 480px) {
    .fc-theme-standard {
        width: 100%;
    }

    .fc-header-toolbar {
        width: 95%;
    }

    .fc-footer-toolbar {
        width: 99%;
    }

    .fc-footer-toolbar .fc-button .fc-icon {
        font-size: 1em;
    }

    .fc-toolbar-title {
        max-width: 170px;
    }
}