* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #00A9FF;
    --secondary-color: #207ad8;


    --background-dark: #141607;



    --background-color: #17429f;
    --neutral-mutted-color: rgba(54, 53, 80, 0.4);
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;

}

main {
    background-image: url('/images/luffy.svg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
}

body {
    background: radial-gradient(circle, var(--background-color) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

nav li {
    list-style: none;
}

textarea {
    resize: none;
    border: none;
    outline-style: none;
    color: inherit;

    width: 100%;
    background-color: transparent;
    overflow-y: auto;
    field-sizing: content;
}

input {
    outline-style: none;
    border: none;
}

footer {
    margin-top: auto;
    height: 110px;
    font-size: 1.2em;
    gap: .3rem;
}

footer span a:hover {
    color: var(--primary-color);
}

footer div {
    gap: .5rem;
}

footer svg {
    filter: grayscale(75%);
    transition: filter, transform 0.3s ease;
}

footer svg:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}




.bg-d {
    color: white;
    background-color: var(--background-dark);
}

.bg-w {
    color: black;
    background-color: cornsilk;
}

.d-flex {
    display: flex;
    align-items: center;
}
.f-center{
    justify-content: center;
    text-align: center;
    align-content: center;
}

.f-column-center {
    flex-direction: column;
    justify-content: center;
}

.btn {
    padding: 1rem;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    width: 100px;
}

.icon-bg-b {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.icon-bg-b:hover {
    background-color: black;
}

.icon-bg-w {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.icon-bg-w:hover {
    background-color: white;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 2.5em;
    border: solid 2px;
    cursor: pointer;
    transition: all .5s;
}

*::-webkit-scrollbar {
    width: 7px;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
    background: var(--background-dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 5px;
}