* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #00A9FF;
    --secundary-color: #207ad8;


    --background-dark: #141607;



    --background-color: #17429f;
    --neutral-mutted-color: rgba(54, 53, 80, 0.4);
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    /* background-color: #141607; */

    background: radial-gradient(circle, var(--background-color) 0%, rgba(0, 0, 0, 1) 100%);

    /* background: radial-gradient(circle,  rgba(0,61,255,1) 0%, rgba(0,0,0,1) 100%); */
    /* background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,61,255,1) 50%, rgba(0,0,0,1) 100%); */

    /* background: radial-gradient(circle,  rgb(251, 255, 0) 0%, rgba(0,0,0,1) 100%); */

    /* background-color: #ffffb4; MISMO QUE OTRO PROYECTO*/

    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

footer {
    margin-top: auto;
    height: 5rem;
    font-size: 1.2em;
}

footer a:hover {
    color: var(--primary-color);
}

.bg-d {
    color: white;
    background-color: var(--background-dark);
}

.bg-w {
    color: black;
    background-color: cornsilk;
}

.d-flex {
    display: flex;
    align-items: center;
}

.f-column-center {
    flex-direction: column;
    justify-content: center;
}

.btn {
    padding: 1rem;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    width: 100px;
}

.icon-bg-b {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.icon-bg-b:hover {
    background-color: black;
}

.icon-bg-w {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.icon-bg-w:hover {
    background-color: white;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 2.5em;
    border: solid 2px;
    cursor: pointer;
    transition: all .5s;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
    background: var(--background-dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color);
    border-radius: 5px;
}



textarea::-webkit-scrollbar-track,
p::-webkit-scrollbar-track {
    background: inherit;

}

textarea::-webkit-scrollbar-thumb,
p::-webkit-scrollbar-thumb {
    background-color: #5c5757
}

textarea::-webkit-scrollbar,
p::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}