.btn_add {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 100%;
    font-size: 3.5em;

    transition: all .5s;
    position: fixed;
    bottom: 17%;
    right: 5%;
}


.notes_contain {
    width: 96%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)); */

    grid-gap: 1rem;
    grid-auto-rows: 300px;
}

.note {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5e180;
    /*f5e180 // #faebcd // #f3ffa1 // #f7f680*/
    color: #393e46;
    transition: all .6s;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 8px 2px;

    overflow: hidden;
    word-wrap: break-word;

}

.new_note {
    background-color: #faebcd;

}

.new_note textarea {
    resize: none;
    border: none;
    outline-style: none;
    background-color: transparent;
}

.note:hover,
.note:focus {
    box-shadow:black 0 0 16px 4px;
    transform: scale(1.01);
}

.note div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: #5c5757;
    height: 2rem;
}

.note div button,
.note div small,
.note div div {
    cursor: pointer;
}

.note div button {
    padding: .5rem 1rem;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-family: '__Roboto_Mono_c41b7d', '__Roboto_Mono_Fallback_c41b7d';
    background-color: black;
}

.note p,
.new_note textarea {
    width: 100%;
    height: 100%;
    padding: 5px 8px 0;
    overflow-y: auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
}


@media (max-width:785px) {

    .notes_contain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:480px) {

    .notes_contain {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
}