.notes_container {
    width: 99%;
    height: auto;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 340px));
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, 260px); */
    justify-content: center;

    grid-gap: 2.4rem 1.4rem;
}



.new_note,
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    background-color: #f5e180;
    color: #393e46;
    min-height: 150px;
    max-height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 12px;

    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.new_note,
.updating_note {
    min-height: 250px;
}

.new_note {
    background-color: #faebcd;
}

.new_note div {
    justify-content: space-between;
    height: 2rem;
}

.note svg {
    cursor: pointer;
}

.note svg:hover {
    filter: drop-shadow(0 0 10px #5c5757)
}

.note textarea,
.p_container {
    min-height: calc(100% - 2.3rem);
    overflow-y: auto;
}

.p_container p {
    margin-bottom: 5px;
}

.note textarea,
.p_container p,
.new_note textarea {
    padding: 7px 10px;
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.8rem;
    width: 100%;
}

.new_note div input {
    cursor: pointer;
    background-color: var(--neutral-mutted-color);
    color: #fff;
    padding: .3rem .6rem;
    font-size: 1.5rem;
    border-radius: 12px;
    font-family: '__Amatic_SC_c41a4c', '__Amatic_SC_Fallback_c41a4c';
    font-weight: 700;
    transition: background-color ease .3s;
}

.updating_note {
    background-color: rgb(255, 158, 68);
}

.note_footer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #5c5757;
    height: 2.3rem;
}

.note_footer> {
    cursor: pointer;
    color: inherit;
}



.new_note div input:hover,
.new_note div input:focus {
    background-color: var(--background-dark);

}

.p_container::-webkit-scrollbar-track,
.new_note textarea::-webkit-scrollbar-track,
.note textarea::-webkit-scrollbar-track {
    background: inherit;
}

.p_container::-webkit-scrollbar,
.new_note textarea::-webkit-scrollbar,
.note textarea::-webkit-scrollbar {
    width: 4px;
}

.p_container::-webkit-scrollbar-thumb,
.new_note textarea::-webkit-scrollbar-thumb,
.note textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.63);
}

.sort_select_contain {
    font-size: 1.4em;
    background-color: var(--neutral-mutted-color);
    color: #fff;
    padding: .5rem 1rem;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 85%;
    border-radius: 12px;
}

.sort_select_contain select {
    width: 230px;
    font-size: 1em;
    padding: .7rem 1rem;
    background-color: var(--background-color);
    color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: left;
    border-radius: 8px;

    /* Oculta la flecha predeterminada */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/double_arrow_down.svg');
    background-position: 95% center;
    background-repeat: no-repeat;
}

.sort_select_contain select option {
    background-color: var(--background-dark);
    color: #fff;
}

@media (max-width:537px) {
    .notes_container {
        justify-content: center;
    }

    .sort_select_contain {
        flex-direction: column;
        gap: .5rem;
        width: 90%;
    }

    .sort_select_contain select {
        width: 80%;
    }
}