.notes_container {
    width: 99%;
    height: auto;
    margin: 3rem auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;

    grid-gap: 1.6rem 1rem;
}



.new_note,
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    background-color: #f5e180;
    color: #393e46;
    min-height: 150px;
    max-height: 260px;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 12px;

    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.new_note {
    background-color: #faebcd;
}

.new_note div,
.note div {
    justify-content: space-between;
    height: 2rem;
}

.note svg {
    cursor: pointer;
}

.note svg:hover {
    filter: drop-shadow(0 0 10px #5c5757)
}

.note textarea,
.note p,
.new_note textarea {
    padding: 5px;
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.7rem;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.new_note div input {
    cursor: pointer;
    background-color: var(--neutral-mutted-color);
    color: #fff;
    padding: .3rem .6rem;
    font-size: 1.5rem;
    border-radius: 12px;
    font-family: '__Amatic_SC_c41a4c', '__Amatic_SC_Fallback_c41a4c';
    font-weight: 700;
    transition: background-color ease .3s;
}

.updating_note {
    background-color: rgb(255, 158, 68);
}

.note_footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #5c5757;
    height: 2rem;
}

.note_footer> {
    cursor: pointer;
    color: inherit;
}



.new_note div input:hover,
.new_note div input:focus {
    background-color: var(--background-dark);

}

.note p::-webkit-scrollbar-track,
.new_note textarea::-webkit-scrollbar-track,
.note textarea::-webkit-scrollbar-track {
    background: inherit;
}

.note p::-webkit-scrollbar,
.new_note textarea::-webkit-scrollbar,
.note textarea::-webkit-scrollbar {
    width: 4px;
}

.note p::-webkit-scrollbar-thumb,
.new_note textarea::-webkit-scrollbar-thumb,
.note textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.63);
}

.sort_select_contain {
    font-size: 1.4em;
    background-color: var(--neutral-mutted-color);
    color: #fff;
    padding: .5rem 1rem;
    justify-content: space-evenly;
    text-align: center;
}

.sort_select_contain select {
    width: 230px;
    font-size: 1em;
    padding: .6rem 1rem;
    background-color: var(--background-color);
    color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width:537px) {
    .notes_container {
        justify-content: center;
    }
    .sort_select_contain {
    flex-direction: column;
    gap: .5rem;
    }
    .sort_select_contain select {
    width: 80%;
    }
}